.small-heading + .large-heading {
  margin-top: 0.1em;
}

.medium-heading + .small-body {
  margin-top: 1.25rem;
}

.small-body + .button {
  margin-top: 1.25rem;
}

.button + .xsmall-body {
  margin-top: 1.25rem;
}