.rounded--left-bottom {
  --b-top: 0;
  --b-left: -4rem;
  --b-x: 2rem;
  --b-y: -2rem;
  --a-top: 100%;
  --a-left: calc(100% - 4rem);
  --a-x: 2rem;
  --a-y: -2rem;
  position: relative;
  border-radius: 0 0 0 2rem;
}

.rounded--right-top {
  --b-top: -4rem;
  --b-left: 0;
  --b-x: -2rem;
  --b-y: 2rem;
  --a-top: calc(100% - 4rem);
  --a-left: 100%;
  --a-x: -2rem;
  --a-y: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 0 2rem 0 0;
}


[class*="rounded--"]::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: var(--b-top);
  left: var(--b-left);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: var(--b-x) var(--b-y) 0 0 var(--background);
}

[class*="rounded--"]::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: var(--a-top);
  left: var(--a-left);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: var(--a-x) var(--a-y) 0 0 var(--background);
}

