:root {
  --c-purple: #A675F5;
  --c-green: #66E5BF;
  --c-blue: #050542;
  --c-light: #fff;
}

.color--purple {
	color: var(--c-purple);
}
.color--green {
	color: var(--c-green);
}
.color--blue {
	color: var(--c-blue);
}
.color--light {
	color: var(--c-light);
}

.background--purple {
	background: var(--c-purple);
}
.background--green {
	background: var(--c-green);
}
.background--blue {
	background: var(--c-blue);
}
.background--light {
	background: var(--c-light);
}

.background--inherit {
	background: var(--background);
}



body {
	--background: var(--c-blue);
	--highlight: var(--c-green);
  background-color: var(--background);
}

body.theme-green {
	--background: var(--c-green);
	--highlight: var(--c-blue);
  background-color: var(--background);
}

body.theme-purple {
	--background: var(--c-purple);
	--highlight: var(--c-blue);
  background-color: var(--background);
}

.logo-background {
	fill: var(--background);
}

.logo-color {
	fill: var(--highlight);
}